body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App {
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
}

#color-selector {
  margin-bottom: 20px;
}

#color-palette {
  display: flex;
  justify-content: center;
}

.color-cell {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

#color-grid {
  margin: 0 auto;
  border-collapse: collapse;
}

.color-grid-cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
